@use "@/styles/variables.scss" as *;

.userType {
  margin-bottom: 0.8rem;
}
.userTypeRadioBox {
  display: flex;
  gap: 1.6rem;
}
.userTypeRadioBox input[type="radio"] {
  display: none;
}
.userTypeRadioBox input[type="radio"] + label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
  cursor: pointer;
  padding: 1.3rem 4.1rem;
  border-radius: 3rem;
  background-color: $color-white;
}
.userTypeRadioBox input[type="radio"] + label {
  border: 1px solid $color-gray-30;
}
.userTypeRadioBox input[type="radio"]:checked + label {
  border: 1px solid $color-red-40;
}
