@use "@/styles/variables.scss" as *;

.box {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .dataInput {
    outline: none;
    width: 100%;
    height: 6rem;
    border-radius: 0.6rem;
    padding: 1rem 2rem;
    border: 1px solid $color-gray-30;
    background: $color-white;
  }

  .floatingText {
    text-align: center;
    position: absolute;
    width: 3rem;
    height: 2.6rem;
    right: 1.2rem;
    top: 4.5rem;
  }
}
