@use "@/styles/variables.scss" as *;

.wrap {
  width: 10.5rem;
  height: 3rem;

  @include tablet {
    position: relative;
  }
}

.openBox {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 10.5rem;
  height: 3rem;
  padding: 1.2rem;
  border-radius: 0.5rem;

  color: $color-white;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: $color-red-30;
}

.dropboxWrap {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;

  padding: 2.4rem 2rem;
  border: 1px solid $color-gray-20;
  border-radius: 1rem;

  width: 39rem;

  background-color: $color-white;

  box-shadow: 0px 2px 8px 0px rgba(120, 116, 134, 0.25);
  z-index: 1;

  &.opened {
    animation: open 0.4s ease;
  }

  @include tablet {
    top: 3.8rem;
    right: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  font-size: 2rem;
  font-weight: 700;

  color: $color-black;
}

.closeIcon {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background: url("~/public/images/close.svg") no-repeat center;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;

  cursor: pointer;
}

.section {
  display: flex;
  flex-direction: column;
}

.footer {
  // 버튼 크기 조정
  display: grid;
  grid-template-columns: 8.2rem auto;
  gap: 0.8rem;

  margin-top: 1.6rem;

  width: 100%;
}

@keyframes open {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes close {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}
