@use "@/styles/variables.scss" as *;
.formWrap {
  width: 35rem;
}

.inputWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

.inputLabel {
  line-height: 2.6rem;
}

.input {
  padding: 1.6rem 2rem;
  border-radius: 6px;
  border: 1px solid $color-gray-30;
  background: $color-white;
}

.input:focus-within {
  outline: 1px solid transparent;
  border: 1px solid $color-red-40;
}

.errorMessage {
  color: $color-red-40;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.signBtn {
  background-color: aqua;
}
