@use "@/styles/variables.scss" as *;

.wrap {
  margin: 2rem;
  border: 1px solid $color-gray-20;
  border-radius: 1rem;

  @include desktop {
    width: 96.4rem;
  }
}

.tableWrap {
  overflow-x: scroll;
  -ms-overflow-style: none;

  @include desktop {
    overflow-x: hidden;
  }
}

.tableWrap::-webkit-scrollbar {
  display: none;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.tbody {
  border: none;
}

.th {
  padding: 0.8rem;
  background-color: $color-red-10;
  color: $color-black;

  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;

  text-align: start;

  @include tablet {
    padding: 2rem 1.2rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

.tr {
  border-bottom: 1px solid $color-gray-10;
}

.td {
  padding: 0.8rem;

  color: $color-black;

  font-size: 1.4rem;
  line-height: 2.2rem;

  text-align: start;

  &.name {
    background-color: $color-white;
  }

  @include tablet {
    padding: 2rem 1.2rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

.name {
  position: sticky;
  left: 0;
  z-index: 1;
}

.bioLineUp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;

  @include tablet {
    -webkit-line-clamp: 2;
  }
}

.bio,
.phone,
.status {
  // width 값 지정?
}

.statusButtons {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  @include tablet {
    gap: 1.2rem;
  }
}

.pagenationWrap {
  display: contents;
  justify-content: center;
  align-items: center;

  border: 1px solid $color-gray-20;
  border-radius: 1rem;
}

.pagenation {
  height: 5.6rem;
  text-align: center;

  @include tablet {
    height: 6.4rem;
  }
}
