.signButton {
  display: inline-flex;
  padding: 1.4rem 1.36rem;
  border-radius: 0.6rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: $color-white;
  background: $color-red-40;
  cursor: pointer;
}
