@use "@/styles/variables.scss" as *;

.signLayoutWrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signWrap {
  width: 35rem;
  padding: 1.2rem;
}

.logoWarp {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.inputLayout {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.signBottomWrap {
  margin-top: 2rem;
}
