// TODO 색상 변수 적용 왜 안 됨?

.container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 24px;
  width: 964px;
  border-radius: 12px;
  background: #ffebe7;
  font-size: 1.6rem;
  font-weight: 400;

  .image {
    border-radius: 12px;
  }

  .contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .shop-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
  }

  .category {
    color: #ff4040; // $color-red-40
    font-weight: 700;
    margin-bottom: -4px;
  }

  .name {
    color: #111322; // $color-black
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 0.56px;
  }

  .location {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #7d7986; // $color-gray-50
    line-height: 26px;
  }

  .description {
    color: #111322; // $color-black
    line-height: 162.5%;
  }

  .buttons {
    display: flex;
    gap: 8px;
  }

  .button {
    display: flex;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 169px;
    border: 1px solid #ff4040; // $color-red-40
    border-radius: 6px;
  }

  .white-button {
    background: #fff; // $color-white
    color: #ff4040; // $color-red-40
    text-align: center;
    font-weight: 700;
    line-height: 20px;
  }

  .primary-button {
    background-color: #ff4040; // $color-red-40
    color: #fff; // $color-white
    text-align: center;
    font-weight: 700;
    line-height: 20px;
  }
}
