@use "@/styles/variables.scss" as *;

@mixin text {
  color: $color-gray-50;
  line-height: 2.6rem;
}

.borderBox {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  min-width: 37.5rem;
  height: 12.6rem;
  padding: 3.2rem;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  background: $color-gray-10;

  .contentBox {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    .content {
      width: 35%;
    }

    .company {
      @include text;
      margin-top: 2.5rem;
      width: 100%;
    }

    .customerSupport {
      display: flex;
      width: 18rem;
      align-items: flex-start;
      gap: 3rem;

      .privacyPolicy {
        @include text;
      }

      .faq {
        @include text;
      }
    }

    .sns {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      gap: 1rem;
    }
  }
}

@include tablet {
  .borderBox {
    height: 10rem;
    padding: 3.2rem;
    flex-wrap: nowrap;

    .contentBox {
      flex-wrap: nowrap;

      .content {
        width: 0;
      }

      .company {
        margin: 0;
        width: auto;
      }

      .customerSupport {
        flex-wrap: nowrap;
      }

      .sns {
        justify-content: flex-start;
      }
    }
  }
}

@include desktop {
  .borderBox {
    height: 10rem;
    padding: 3.7rem 23.8rem;
    flex-wrap: nowrap;

    .contentBox {
      display: flex;
      flex-wrap: nowrap;

      .customerSupport {
        flex-wrap: nowrap;

        .sns {
          justify-content: flex-start;
        }
      }
    }
  }
}
