@use "@/styles/variables.scss" as *;

.wrap {
  margin: 0 auto;

  section {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    box-sizing: content-box;
    margin: 4rem 1.2rem;

    @include tablet {
      gap: 3.2rem;
      margin: 6rem 3.2rem;
      // max-width: 68rem; - 이렇게 하는 게 좋을지?
    }

    @include desktop {
      margin: 6rem auto;
      width: 96.4rem;
    }
  }

  h2 {
    margin: 0;
    font-size: 2rem;

    @include tablet {
      font-size: 2.8rem;
      letter-spacing: 0.06rem;
    }
  }
}
