@use "@/styles/variables.scss" as *;

.wrap {
  margin: 0 auto;

  section {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    box-sizing: content-box;
    padding: 4rem 1.2rem;

    & + section {
      background-color: $color-gray-5;
    }

    @include tablet {
      gap: 3.2rem;
      padding: 6rem 3.2rem;
    }

    @include desktop {
      padding: 6rem calc((100% - 96.4rem) / 2);
      width: 96.4rem;
    }
  }

  h2 {
    margin: 0;
    font-size: 2rem;

    @include tablet {
      font-size: 2.8rem;
      letter-spacing: 0.06rem;
    }
  }
}
