@use "@/styles/variables.scss" as *;

.wrap {
  margin: 0rem;

  section {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 4rem 1.2rem;

    @include tablet {
      gap: 3.2rem;
      padding: 6rem 3.2rem;
    }

    @include desktop {
      padding: 6rem 23.8rem;
    }
  }

  h2 {
    margin: 0;
    font-size: 2rem;

    @include tablet {
      font-size: 2.8rem;
      letter-spacing: 0.06rem;
    }
  }
}
