@use "@/styles/variables.scss" as *;

.signBottonWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding-top: 0.2rem;
}

.signBottomLink {
  color: $color-blue-20;
}
