@use "@/styles/variables.scss" as *;
.large {
  width: 20.8rem;
  height: auto;
}

.small {
  width: 8.4rem;
  height: auto;
}

@include tablet {
  .large {
    width: 24.8rem;
  }

  .small {
    width: 10.8rem;
  }
}
