@use "@/styles/variables.scss" as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;

  @include tablet {
    padding: 0 3.2rem;
  }

  @include desktop {
    max-width: 964px;
    margin: 0 auto 3.2rem;
    padding: 0;
  }
}

.title {
  color: $color-black;
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;

  @include tablet {
    font-size: 2.8rem;
    line-height: 3.3rem;
  }
}

.buttonCancel {
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  background: url("~/public/images/close.svg") no-repeat center;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;

  @include tablet {
    width: 3.2rem;
    height: 3.2rem;
  }
}
