@use "@/styles/variables.scss" as *;

.description {
  font-size: 1.4rem;
  line-height: 2.2rem;

  @include tablet {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  @include desktop {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
