@use "@/styles/variables.scss" as *;

.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  padding: 4rem 2rem;
  width: 100vw;
  height: 100vh;
  background-color: $color-red-10;

  @include tablet {
    padding: 2.4rem 2rem;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    border: 1px solid $color-gray-30;
    box-shadow: 0px 2px 8px 0px rgba(120, 116, 134, 0.25);
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  h2 {
    color: $color-black;
    font-size: 2rem;
  }

  img {
    cursor: pointer;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;

  @include tablet {
    width: 32.8rem;
  }
}
