@use "@/styles/variables.scss" as *;

@mixin placeholder {
  color: $color-gray-40;
}

.inputBox {
  width: 100%;

  &.active ul {
    visibility: visible;
    height: 23rem;
  }

  &.active .option .dropdownOpen {
    transform: translateY(-50%) rotate(180deg);
  }

  .title {
    display: block;
    margin-bottom: 0.8rem;
    color: $color-black;
    line-height: 2.6rem;
  }

  input[type="text"] {
    width: 100%;
    padding: 1.6rem 2rem;
    outline: none;
    line-height: 2.6rem;
    color: $color-black;
    border-radius: 0.6rem;
    border: 1px solid $color-gray-30;

    &::placeholder {
      @include placeholder();
    }
  }

  .option {
    display: block;
    position: relative;
    padding: 1.6rem 2rem;
    line-height: 2.6rem;
    color: $color-gray-40;
    border-radius: 0.6rem;
    border: 1px solid $color-gray-30;
    cursor: pointer;
    background-color: $color-white;

    &.active {
      color: $color-black;
    }

    .dropdownOpen {
      display: block;
      position: absolute;
      top: 50%;
      right: 2rem;
      transform: translateY(-50%);
      width: 1.6rem;
      height: 1.6rem;
      background: url("~/public/images/dropdown_open.svg") no-repeat center;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      transition: transform 0.5s;
    }
  }

  ul {
    list-style-type: none;
    margin: 0.8rem 0 0;
    padding: 0;
    height: 0;
    border-radius: 0.6rem;
    border: 1px solid $color-gray-20;
    overflow-y: scroll;
    box-shadow: 0px 4px 25px 0px #0000001a;
    visibility: hidden;
    transition: visibility 0.5s, height 0.5s;

    &::-webkit-scrollbar {
      width: 0.4rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4rem;
      background-color: $color-gray-50;
    }

    li {
      padding: 1.2rem 0;
      font-size: 1.4rem;
      line-height: 2.2rem;
      color: $color-black;
      text-align: center;
      border-bottom: 1px solid $color-gray-20;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
