@use "@/styles/variables.scss" as *;

.detailContainer {
  padding: 4rem 0 0;

  @include tablet {
    padding: 6rem 0 0;
  }

  @include desktop {
    max-width: 96.4rem;
    margin: 0 auto;
  }

  .noticeTitle {
    margin: 0 0 6rem 0;

    @include tablet {
      margin: 0 0 12rem 0;
    }
  }

  .panelContainer {
    margin: 3.4rem 0;

    & > div {
      @include desktop {
        align-items: center;
      }
    }
  }

  .content {
    div + div {
      margin: 1.2rem 0 0;
    }

    .payContainer {
      display: flex;
      align-items: center;
      gap: 0.8rem;
    }

    p {
      margin: 1.2rem 0 1.4rem 0;
    }
  }

  .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem 0.9rem;
    width: 100%;
    padding: 3.2rem 1.2rem 12rem 1.2rem;

    @include tablet {
      gap: 3.2rem 1.4rem;
      padding: 3.2rem 3.2rem 12rem 3.2rem;
    }

    @include desktop {
      grid-template-columns: 1fr 1fr 1fr;
      padding: 3.2rem 0 12rem 0;
    }
  }

  .closed {
    position: relative;

    .imgOverlay {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      inset: 0;
      background-color: rgba($color: $color-black, $alpha: 0.5);
      border-radius: 1.2rem;
      color: $color-gray-30;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      z-index: 1;

      @include tablet {
        font-size: 2.8rem;
        letter-spacing: 0.06rem;
      }
    }

    .shopName,
    .time,
    .location,
    .pay {
      color: $color-gray-30;
    }
  }
}

.imgWrap {
  position: relative;
  color: $color-gray-30;

  &::after {
    content: "";
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 98%;
    background-color: rgba($color: $color-black, $alpha: 0.5);
    border-radius: 1.2rem;
  }

  span {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &.active {
    position: relative;
    color: $color-gray-30;

    &::after {
      content: "";
      display: block;
    }

    span {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      font-size: 2.8rem;
      letter-spacing: 0.06rem;
      font-weight: 700;
    }
  }
}

.desWrap > div {
  @include desktop {
    width: auto;
  }
}
