@use "@/styles/variables.scss" as *;

$mobile-safezone: 1.2rem;
$tablet-safezone: 3.2rem;

.container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  margin: auto;
  padding: 2rem;
  border-radius: 1.2rem;

  max-width: 68rem;
  width: calc(100% - $mobile-safezone * 2);

  background-color: $color-gray-10;

  @include mobile {
    gap: 1.2rem;
    padding: 3.2rem;
    width: calc(100% - $tablet-safezone * 2);
  }

  @include desktop {
    max-width: 96.4rem;
  }
}

.title {
  color: $color-black;
  font-size: 1.4rem;
  font-weight: 700;

  @include mobile {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.description {
  color: $color-black;
  font-size: 1.4rem;
  line-height: 2.2rem;

  @include mobile {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
