.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  gap: 20px;
  width: 312px;
  border-radius: 12px;
  border: 1px solid #e5e4e7; //$color-gray-20
  background: #fff; //$color-white

  .image {
    border-radius: 12px;
  }

  .contents {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .shop-name {
    color: #111322; // $color-black
    font-size: 2rem;
    font-weight: 700;
  }

  .time {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #7d7986; // $color-gray-50
    line-height: 0%;
  }

  .location {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #7d7986; // $color-gray-50
    line-height: 0%;
  }

  .pay {
    margin-top: 8px;
    color: #111322; // $color-black
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.48px;
  }
}
